language: node_js
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '10'
before_script:
  - yarn danger ci
script:
  - yarn run test:ci
  - yarn run build
  - yarn run danger
  - rm -f test-results.json
