$border: #d0d8e1;
$blue: #0088ff;
$background: #f4f4f7;
$navy: #222c4f;

*, *::before, *::after {
  box-sizing: border-box;
}

#SlackFeedback {
  position: fixed;
  font-family: 'Proxima Nova', sans-serif;
  z-index: 99999998;
  bottom: 12px;
  right: 0;
  margin: 1em;

  &.active {
    .SlackFeedback--container {
      display: block;
    }
  }

  #SlackIcon {
    margin-right: 0.5em;
  }

  .SlackFeedback--container {
    display: none;
    background: $background;
    position: relative;
    z-index: 999999999;
    border-radius: 4px;
    margin-bottom: 1.5em;
    width: 360px;
    top: -2.5em;
    right: 0;
    box-shadow: 0 6px 30px 2px rgba($navy, 0.3);
  }

  .SlackFeedback--header {
    display: flex;
    background: $navy;
    padding: 0.75em 1em;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    font-weight: 300;
    align-items: center;
    color: white;

    img {
      margin-right: 0.5em;
    }

    .close {
      cursor: pointer;
      opacity: 0.7;
      margin-left: auto;
      font-size: 11px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .SlackFeedback--content {
    padding: 0.5em;
  }

  .SlackFeedback--trigger {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: center;
    background: white;
    color: #858ba0!important;
    border: 1px solid $border;
    width: 150px;
    padding: 12px 1.25em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 6px 12px rgba($navy, 0.05);
    transition: box-shadow 0.3s, transform 0.2s ease-in, color 0.2s;

    &:hover, &.active {
      box-shadow: 0 6px 16px 2px rgba(black, 0.2);
      transform: translateY(-3px);
      color: #5d606c;
      border-color: darken($border, 10%);
    }

    img {
      margin-right: 8px;
    }
  }

  ul.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;

    li {
      flex: 1;
      background: rgba(white, 0.6);
      color: #5d606c;
      text-align: center;
      padding: 0.75em;
      font-size: 13px;
      cursor: pointer;
      border: 1px solid $border;

      &.selected {
        border-color: #08f;
        background: white;
        color: #08f;
        position: relative;
        text-shadow: 0 1px 6px rgba($blue, 0.1);
        box-shadow: 0 0 8px rgba($blue, 0.2);
      }

      &:hover:not(.selected) {
        border: 1px solid darken($border, 8%);
      }

      &:first-of-type {
        border-radius: 4px 0 0 4px;
        margin-right: -1px;
      }

      &:last-of-type {
        border-radius: 0 4px 4px 0;
        margin-left: -1px;
      }
    }
  }

  input.input {
    margin-bottom: 0.75em;
  }

  textarea, input.input {
    width: 100%;
    border: 1px solid $border;
    border-radius: 3px;
    padding: 0.5em;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    background: white;

    &:focus {
      border: 1px solid $blue;
      box-shadow: 0 0 8px rgba($blue, 0.3);
    }

    &[disabled] {
      background: transparent;
    }

    &.message {
      min-height: 150px;

    }
  }

  input[type="file"] {
    margin-bottom: 1em;
  }

  label {
    color: $blue;
    display: block;
    font-size: 11px;
    margin: 5px 0;

    &.checkbox {
      display: inline-block!important;
      color: inherit;
      font-size: 13px;
      color: #858ba0;
      cursor: pointer;

      &:hover {
        color: darken(#858ba0, 5%);
      }
    }
  }

  input[type="checkbox"] {
    font-size: 1.1em!important;
    margin-right: 5px!important;
  }

  .Select {
    margin-bottom: 0.5em;

    .Select-control {
      border: 1px solid $border;
    }
  }

  button.submit {
    display: block!important;
    width: 100%!important;
    padding: 1em 0.75em!important;
    text-align: center!important;
    background: $blue!important;
    color: white!important;
    font-weight: 400;
    outline: none;
    border: none;
    font-size: 11px!important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;

    &[disabled], &.disabled {
      pointer-events: none!important;
      opacity: 0.6!important;
    }

    &:hover {
      background: lighten($blue, 7%);
      box-shadow: 0 2px 8px 2px rgba($blue, 0.2);
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation: fadeInUp 0.4s ease;
  animation-fill-mode: both;
}
